# Dependencies
node_modules/
functions/node_modules/

# Local Environment & Secrets
.env
.env.*
*.log

# Scratch & Temp Files
scratch/
temp/

# Operating System & Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
jsconfig.json
